<kendo-grid [data]="gridData" [height]="600" [loading]="loading" [pageable]="pageOptions" (pageChange)="pageChange($event)" [pageSize]="pagesize" [skip]="state.skip!" [sortable]="true" [sort]="sort" (sortChange)="sortChange($event)" [filterable]="true" [filter]="state.filter!" (dataStateChange)="dataStateChange($event)" [selectable]="true" (dblclick)="selectedDoubleClick($event)" rowClick (cellClick)="onCellClick($event)">

  <kendo-grid-column *ngFor="let col of columns" [field]="col?.field??''" [title]="col.title" [sortable]="col.sortable" [filterable]="col.filterable"></kendo-grid-column>
